@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply text-slate-400 font-display text-sm box-border font-light;
    font-display: optional;
  }
  #root {
    @apply h-screen w-full;
  }
}

.ProseMirror h1.is-editor-empty:first-child::before,
p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
